{
  "config": {
    "aggregates": {
      "Feature": "count",
      "ID": "count",
      "Headless": "count",
      "CLI": "count",
      "Web": "count",
      "Gherkin": "count",
      "Pass": "count",
      "Fail": "count",
      "Last tested": "count"
    },
    "column-pivots": [],
    "columns": [
      "Feature",
      "ID",
      "Headless",
      "CLI",
      "Web",
      "Gherkin",
      "Pass",
      "Fail",
      "Last tested"
    ],
    "filters": [],
    "plugin": "hypergrid",
    "row-pivots": [],
    "settings": "true",
    "sort": [
      [
        "Feature",
        "asc"
      ]
    ],
    "view": "hypergrid"
  },
  "dataFileName": "features.csv",
  "dataTable": ""
}
